html,body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
        font-family: 'terminal_open';
        src: url('font/terminal-grotesque_open.otf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'terminal';
        src: url('font/terminal-grotesque.ttf');
        font-weight: normal;
        font-style: normal;
}

/*menu tag*/
/*info*/
#info{
    width:350px;
    z-index:20;
    margin:20px 0 0 100%;
    left:-350px;
    position:fixed;
    z-index:10;
}
.title{
    font-family: 'terminal_open';
    font-size: 70px;
    line-height: 0.9em;
    color: rgba(0,255,0,0.5);
}
.sbtitle{
    display:none;   
    color: grey;
}

/*front page*/
#vignette_content{
    position:relative;
    float:left;
    background-color: rgb(0,0,0);
    width:300px;
    height:300px;
    overflow: hidden;
    margin:0 20px 20px 0;
}

h2.titre{
    font-family: 'terminal';
    position:absolute;
    color: rgb(255,255,255);
    font-size: 1.2em;
    width:300px;
    text-align: center;
    z-index:2;
    /*color: white;*/
    top:50%;
    margin-top: -0.7em;
}

#vignette{
    opacity: 1;
    width: 800px;
    margin: -75px 0 0 -100px;
}

#vignette:hover {
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
}


/*article markdown*/

p.text{
    margin-top: 20px;
    font-size: 1.3em;
}

#news .text em{
    font-style: italic;
}
#news .text strong{
    font-weight: bold;

}
#news .text h1, h2, h3, h4, h5, h6{
    font-size: 1.6em;
    
}
#news .text a{
    color: rgba(0,255,0,0.5);
    font-style: none;
}
#news .text li{
    margin-left:20px;
}

#news .text blockquote{
    width: auto;
    display: inline-block;
    margin-top:20px;
    padding:20px 50px 20px 50px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.1);
}
#news .text code{
    font-family: monospace;
    font-size: 0.8em;
    color: rgba(0,0,0,0.7);
}
#news .text p{
    margin-top: 0.8em;
}
/*article general*/
.text{
    margin-top: 20px;
}
#news{
    max-width:950px;
    margin: 0 auto;
    left:0;
    right:0;
}

p.t_a{
    margin-top:50px;
    font-size:2em;

}
p.date{
    font-size: 0.7em;
    font-style: italic;
}
#news img{
    max-width: 100%;
    margin-top: 15px;
}

/*admin*/
#avatar{
    height:200px; 
    width: 200px;
    background-color: rgba(0,0,0,0.3);
}

#formulaire{
    position: absolute;
    padding: 20px 20px 60px 20px;
    max-width:200px;
    height:auto; 
    background-color: black;
    margin: 0 auto;
    left:0;
    right:0;
    top:50%;
    margin-top: -220px;
    color: white;
}

form{
    margin: 20px 0 0 0;
    font-family: 'Andale Mono', monospace;
}
label{
    font-size: 18px;
}
#tite{
    height:20px;
    border-style: none;
    padding:0 0 0 10px;
    margin: 0 0 15px 0;
}

input #upFile{
    border-style: none;
    font-family: 'Andale Mono', monospace;
    margin-left:0 0 15px 0;
}

.addt{
    width:10px;
    height:10px;
    background-color:red;
}
.drop{
    width:50px;
    height:50px;
    background-color:red;
}
.click{
    width:50px;
    height:50px;
    background-color:blue;
    float:right;
}
/*credits*/
#credits{
    height: 150px;

}